<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DLPartner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DLPartner.Properties.Settings.AgentPortalConnectionString"
      connectionString="Data Source=SERVER-R320;Initial Catalog=AgentPortal;Persist Security Info=True;User ID=partner;Password=comm753sql"
      providerName="System.Data.SqlClient" />
    <add name="DLPartner.Properties.Settings.AgentPortalConnectionStringAdmin"
      connectionString="Data Source=SERVER-R320;Initial Catalog=AgentPortal;Persist Security Info=True;User ID=sqladmin;Password=lacmrce567"
      providerName="System.Data.SqlClient" />
    <add name="DLPartner.Properties.Settings.AgentPortalConnectionString1"
      connectionString="Data Source=SERVER-R320;Initial Catalog=AgentPortal;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DLPartner.Properties.Settings.LAContactsConnectionString"
      connectionString="Data Source=SERVER-R320\ACT7;Initial Catalog=LAContacts;User ID=sa;Password=D.o18.Z0u.45Jq67783J"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="DLPartner.Properties.Settings.AgentPortalConnectionString"
      connectionString="Data Source=SERVER-R320;Initial Catalog=AgentPortal;Persist Security Info=True;User ID=partner;Password=comm753sql"
      providerName="System.Data.SqlClient" />
    <add name="DLPartner.Properties.Settings.AgentPortalConnectionStringAdmin"
      connectionString="Data Source=SERVER-R320;Initial Catalog=AgentPortal;Persist Security Info=True;User ID=sqladmin;Password=lacmrce567"
      providerName="System.Data.SqlClient" />
    <add name="DLPartner.Properties.Settings.AgentPortalConnectionString1"
      connectionString="Data Source=SERVER-R320;Initial Catalog=AgentPortal;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DLPartner.Properties.Settings.LAContactsConnectionString"
      connectionString="Data Source=SERVER-R320\ACT7;Initial Catalog=LAContacts;User ID=sa;Password=F6d1b*Y8c!YlRt4o"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <applicationSettings>
    <DLPartner.Properties.Settings>
      <setting name="DLPartner_net_eftsecure_uno_wsSalesCenterBoarding"
        serializeAs="String">
        <value>https://uno.eftsecure.net/wsSalesCenterBoarding/wsSalesCenterBoarding.asmx</value>
      </setting>
    </DLPartner.Properties.Settings>
  </applicationSettings>
</configuration>